= render 'header'
.main
  .main__toko
    投稿一覧
  - @posts.each do |post|
    = link_to post_path "#{post.id}", class: "main__show" do
      .main__stripe
      .main__text
        .main__text__image 
          = image_tag post.images.first.image.url(:medium)
        .main__text__title 
          .main__text__title__box
            = link_to post.title, post_path(post.id)
            = post.parts.first.name
          .main__text__title__text
          .main__text__title__name
            = post.user.nickname
            = post.created_at          
.page 
  = paginate(@posts)
= render 'footer'