= render "login_header"
.new 
  .new__box 
    新規投稿の作成
  = form_for @post do |f|
    .new__box-big--image
      = f.fields_for :images do |i|
        .new__box-big--text 
          = icon("fa", "camera")
          = i.file_field :image, id: :user_image
    = f.fields_for :parts do |i|
      = i.select :name,[["腕","腕"],["脚","脚"],["肩","肩"],["背中","背中"],["お尻","お尻"],["全身","全身"],["その他","その他"]]   
    = f.text_field :title, class: 'new__box-big-title', placeholder: "タイトル"
    = f.text_area :text, class: 'new__box-big-area', placeholder: "ブログの本文", rows: 10
    = f.submit '投稿する', class: 'new__box-big-submit' 