= render "header"
.show
  .show__stripe
  .show__text
    .show__text__image 
      - if @post.images.present?
        = image_tag @post.images.first.image.url(:medium)
    .show__text__title 
      .show__text__title__box
        = @post.title
      .show__text__title__part
        部位
        = @post.parts.first.name
      .show__text__title__name
        = @post.user.nickname
        = @post.created_at
  .show__edit
    - if user_signed_in? && current_user.id == @post.user_id
      .show__edit--edit
        = link_to '編集', edit_post_path(@post.id)
      .show__edit--des
        = link_to '削除', post_path(@post.id), method: :delete
        -# .show__edit--des--space
    - else 
      .show__edit--box
  .show__content 
    = simple_format @post.text
.box
  .comment__comments
    - if @comments
      - @comments.each do |comment|
        .comment__box
          .comment__box--name
            = link_to comment.user.nickname
          .comment__box--comment
            = comment.text
  .comment
    .comment__caution
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは相手の事を不愉快にしてしまう事があります。そのような言葉は控えてください。
    - if user_signed_in? 
      = form_for [@post, @comment] do |f| 
        = f.text_area :text, class: 'comment__area', placeholder: "コメント", rows: "5"
        = f.submit "コメントする", class: 'comment__submit' 